{%extends 'infirmary/base.html' %}
{% block header %}
<div class="col-lg-12">
        <h1 class="page-header">Add Category</h1>
    </div>
{% endblock %}

{% block content %}
 
    <div class="col-lg-12">
        <div class="panel panel-default">
           
            <div class="panel-heading">
                               Category
                            </div>
            <div class="panel-body">
                <!-- Nav tabs -->
               
            
            <form id="create_prescription">
                {% csrf_token %}
            <div class="col-md-6 col-md-offset-0">
                <label>Quantity </label>
                <input class="form-control" name="pres_qty" type="number">
                <br>
            </div>
            <div class="col-md-6">
                <label>Price </label>
                <input class="form-control" name="pres_price" type="number">
                <br>
            </div>
            <div class="col-md-6">
                <label>Diagnosis </label>
                <select class="form-control" name="diagnosis" id="diagnosis" required="required">
                   {% for Item in add_consultation %}
                    <option value="{{ Item.id }}">{{ Item.Name }}</option>
                   {% endfor %}
                </select>
                <br>
            </div>

            <div class="col-md-6">

                <label>Medicine </label>
                <select class="form-control" name="medicines" id="medicines" required="required">
                {% for Medicine in med %}
                    <option value="{{ Medicine.id }}">{{ Medicine.med_name }}</option>
                   
                   {% endfor %}

                </select>
                <br>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label>Prescription: </label>
                <br>
            </div>
            <div class="col-md-9">
                <!-- <input class="form-control" name="pres_prescription" type="text"> -->
                <textarea class="form-control" name="pres_prescription"></textarea>
                <br>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label>Remarks: </label>
                <br>
            </div>
            <div class="col-md-9">
                <!-- <input class="form-control" name="pres_remarks" type="text"> -->
                <textarea class="form-control" name="pres_remarks"></textarea>
                <br>
            </div>
            <div class="col-md-1 col-md-offset-4">
                <button class="btn btn-primary" type="button" id="createBpre"><i class="fa fa-save"></i> Save </button>
            </div>
            <div class="col-md-1 col-md-offset-0">
                <button class="btn btn-danger" type="button"><i class="fa fa-ban"></i> Cancel </button>
            </div>
            </form>
                    </div>
                   
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <script type="text/javascript">


        $(document).ready(function(){ 
                $("#createBpre").click(function(){
              $.ajax({
                  type: "GET",
                  data: $("#create_prescription").serialize(),
                  url:'{% url 'infirmary:create_prescription' %}',
                  success: function(data)
                  {     
                      var arr = JSON.parse(JSON.stringify(data));
                      //alert(JSON.stringify(arr)); 
                      alert('Successfully Added!');
                      window.location="{% url 'infirmary:patient_list' %}";
                  }
              });
            }); 
          });

    </script>
{% endblock %}





     