{%extends 'supportOffice/base.html' %}
{% block header %}
<div class="col-lg-12">
        <h1 class="page-header">Manage PPMP</h1>
    </div>
{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
                              Add PPMP
                            </div>
        <div class="panel-body">
    <form id="CreatePPMP">
         {% csrf_token %}
        <div class="col-md-6">
            <label>PPMP For The Year</label>
           
            <input class="form-control" name="ppmp_year" id="ppmp_year" required="required" type="text" placeholder="For The Year">
        </div>
        <div class="col-md-6">
            <label>PPMP Code</label>
           
            <input class="form-control" name="ppmp_code" id="ppmp_code" required="required" type="text" placeholder="PPMP Code">
        </div>

        <div class="col-md-6">
            <label>CreatedBy</label>
           
            <input class="form-control" name="createdBy" id="createdBy" required="required" type="text" placeholder="Created By">
        </div>
        <div class="col-md-6">
            <label>PPMP Type&nbsp; </label>
            <!-- <input class="form-control" name="pa_civilstat" id="pa_civilstat" required="required" type="text" placeholder="Civil Status"> -->
             <select class="form-control" name="ppmp_type" id="ppmp_type" required="required">
                  <option selected="">-----</option>
                  <option value="PPMP">PPMP</option>
                  <option value="SPPMP">SPPMP</option>
                  
              </select>
            
        </div>
        <br>
        <br>
         <div class="col-md-12 col-md-offset-9">
            <br>
           
            <button class="btn btn-primary " type="button" id="createButton" ><i class="fa fa-plus"></i> Create PPMP</button>
             <button class="btn btn-danger "  type="reset"><i class="fa fa-ban"></i> Cancel </button>
             <br>
        </div>
  </form>
  </div>
</div>
</div>


    <script type="text/javascript">

    $(document).ready(function(){ 
        $("#createButton").click(function(){
          $ppmp_year = $('#ppmp_year').val();
          $ppmp_code = $('#ppmp_code').val();
          $ppmp_type = $('#ppmp_type').val();
          $createdBy = $('#createdBy').val();

        if($ppmp_year == "" || $ppmp_type == ""){
            alert("Please complete the required field");
            /* $("p").css("color", "red");
             $("p").show();*/
             

        }else{
          $.ajax({
                type: "GET",
                data: $("#CreatePPMP").serialize(),
                url:'{% url 'supportOffice:createPPMP' %}',
                dataType: 'json',
                success: function(data)
                {     
                    // var arr = JSON.parse(JSON.stringify(data));
                    // alert(JSON.stringify(arr));
                    alert('succesfully added!');
                }
            });
            
        } 



            
    }); 
  }); 
</script>
     </div>
     </div>
     </div>       

    
{% endblock %}
