<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>PPMP and Document Monitoring System</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'supportOffice/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{% static 'supportOffice/css/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'supportOffice/css/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="{% static 'supportOffice/css/dataTables/dataTables.bootstrap.css" rel="stylesheet' %}">
    <link href="{% static 'supportOffice/css/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="{% static 'supportOffice/css/timeline.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'supportOffice/css/startmin.css' %}" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="{% static 'supportOffice/css/morris.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'supportOffice/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'supportOffice/js/jquery.min.js' %}"></script>
    <script src="{% static 'supportOffice/js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'supportOffice/js/jquery-3.2.1.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'supportOffice/images/msunlogo.png' %}">
</head>

<body>


    <div id="page-wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'supportOffice:index' %}">MSU NAAWAN</a>

                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                  <ul class="nav navbar-right navbar-top-links">
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> Admin <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            
                             <li>
                                <a href="{% url 'supportOffice:index' %}"><i class="fa fa-dashboard"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-file"></i> PPMP<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'supportOffice:addPpmp' %}"><i class="fa fa-plus"></i> Create PPMP</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'supportOffice:ppmpList' %}"><i class="fa fa-list-ol"></i> List of Created PPMP</a>
                                    </li> 
                                    <li>
                                        <a href="{% url 'supportOffice:ppmpDetailsList' %}"><i class="fa fa-list-ol"></i> Generate PPMP Report</a>
                                    </li>
                                    
                                    
                                   
                                </ul>
                            </li>
                            
                            <li>
                                <a href="#"><i class="fa fa-eye"></i> Monitor Documents<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'supportOffice:listOfDocuments' %}"><i class="fa fa-list-ol"></i> View Documents</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'supportOffice:listOfRecordIn' %}"><i class="fa fa-list-ol"></i> View Logs</a>
                                    </li>                                
                                    
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa  fa-sign-out "></i> Sign out</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div class="row">
            {% block header%}
            {% endblock %}
        </div>

       <div>
           <br>
       </div>
         <div class="row">
            
            {% block content %}
            
             {% endblock %}
               

        </div>
       
     <div class="row">
    
    </div>
    </div>
    {% block body %} {% endblock %}
    
</body>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'supportOffice/js/bootstrap.min.js' %}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'supportOffice/js/metisMenu.min.js' %}"></script>
<!-- Morris Charts JavaScript -->
<script src="{% static 'supportOffice/js/raphael.min.js' %}"></script>
<script src="{% static 'supportOffice/js/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'supportOffice/js/dataTables/dataTables.bootstrap.min.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'supportOffice/js/startmin.js' %}"></script>
<!-- <script src="{% static 'supportOffice/js/dc.js' %}"></script> -->
</html>