{%extends 'supportOffice/base.html' %}
{% block header %}
<div class="col-lg-12">
        <h1 class="page-header">Generated PPMP</h1>
        
    </div>
{% endblock %}
{% block content %}
<div>
    <h3>ID: {{ ppmp.id }}</h3>
                 <h3>Cost Center: {{ ppmp.PpmpCreatedBy.section.name }} - {{ ppmp.PpmpCreatedBy.section.department.name }} For the Year( {{ ppmp.ForTheYear }} )</h3>
</div>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
                               Documents
                            </div>
    	<div class="panel-body">

				<div class="col-md-12">
				    <div class="table-responsive">
				        <table class="table table-striped  table-bordered table-hover table-responsive" id="dataTables">
				            <thead>
				                <tr>
                                    <th style="width:15%">Document ID</th>
                                    <th>Category</th>
                                    <th>Item</th>
                                     <th>Unit Price</th>
				                    <th>Quantity</th>
				                    <th>Schedule</th>
                                    <th>Total</th>
				                    <th>Action (s)</th>
				                </tr>
				            </thead>
				            <tbody>
                                {% for PPMP_Details in ppmpList %}
				                <tr>
                                    <td>{{ PPMP_Details.PpmpID.id }}</td>
                                    <td>{{ PPMP_Details.ItemID.CategoryID.Description }}</td>
                                    <td>{{ PPMP_Details.ItemID.Name }}</td>
                                    <td>{{ PPMP_Details.UnitPrice }}</td>
				                    <td>{{ PPMP_Details.PpmpQuantity }}</td>
				                    <td>{{ PPMP_Details.Schedule }}</td>
                                    <td>{{ PPMP_Details.EstimatedTotal }}</td>
				                    
				                    <td style="width:10%">

                                    <div class="btn-group">
                                    <button class="btn btn-link btn-xs" data-toggle="dropdown" aria-expanded="false" type="button"><i class=" fa fa-cog"></i></button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li role="presentation"><a href="#"><i class=" fa fa-pencil"></i> Edit Details</a></li>
                                        <li role="presentation"><a href="#" data-target="#myModal5"  data-toggle="modal"><i class=" fa  fa-plus-square-o"></i> View Details</a></li>   
                                    </ul>
                            </div>


				                    </td>


                           
				                </tr>
                               {% endfor %}
				            </tbody>
				        </table>
				    	</br>             
				    </div>
				</div>

    	</div>
    </div>

{% endblock %}
{% block PPMP_Details %}
 <div class="modal fade" role="dialog" id ="myModal5" tabindex="-1">
       <div class="modal-dialog modal-default" role="document">
            <div class="modal-content">
   
   
        </div>
  </div>
</div>
{% endblock %}
