{%extends 'supportOffice/base.html' %}
{% block header %}
<div class="col-lg-12">
        <h1 class="page-header">List of Documents</h1>
        
    </div>
{% endblock %}
{% block content %}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
                               Documents
                            </div>
    	<div class="panel-body">

				<div class="col-md-12">
				    <div class="table-responsive">
				        <table class="table table-striped  table-bordered table-hover table-responsive" id="dataTables">
				            <thead>
				                <tr>
                                    <th>Document ID</th>
                                    <th>Cost Center</th>
                                     <th>For The Year</th>
				                    <th>PPMP Type</th>
				                    <th>Cost Center Head</th>
				                    <th>Action (s)</th>
				                </tr>
				            </thead>
				            <tbody>
                                {% for PPMP in ppmpList %}
				                <tr>
                                    <td>{{ PPMP.id }}</td>
                                    <td>{{ PPMP.PpmpCreatedBy.section.name }} - {{ PPMP.PpmpCreatedBy.section.department.name }}</td>
                                    <td>{{ PPMP.ForTheYear }}</td>
				                    <td>{{ PPMP.PpmpType }}</td>
				                    <td>{{ PPMP.PpmpCreatedBy.account.fname }} {{ PPMP.PpmpCreatedBy.account.mname }} {{ PPMP.PpmpCreatedBy.account.surname }}, {{ PPMP.PpmpCreatedBy.account.nameExtension }}</td>
				                    
				                    <td style="width:10%">

                                    <div class="btn-group">
                                    <button class="btn btn-link btn-xs" data-toggle="dropdown" aria-expanded="false" type="button"><i class=" fa fa-cog"></i></button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li role="presentation"><a href="{% url 'supportOffice:viewDocument' PPMP.id %}"><i class=" fa fa-eye"></i> View Document Details</a></li>
                                        <li role="presentation"><a href="#" data-target="#myModal5"  data-toggle="modal"><i class=" fa  fa-arrow-right"></i> Record Out</a></li>   
                                    </ul>
                            </div>


				                    </td>


                           
				                </tr>
                               {% endfor %}
				            </tbody>
				        </table>
				    	</br>             
				    </div>
				</div>

    	</div>
    </div>

{% endblock %}
{% block PPMP %}
 <div class="modal fade" role="dialog" id ="myModal5" tabindex="-1">
       <div class="modal-dialog modal-default" role="document">
            <div class="modal-content">
   
   
        </div>
  </div>
</div>
{% endblock %}
