{%extends 'supportOffice/base.html' %}
{% block header %}
<div class="col-lg-12">
        <h1 class="page-header">List of Monitored PPMP (s)</h1>
        
    </div>
{% endblock %}
{% block content %}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
                               Monitored PPMP (s)
                            </div>
      <div class="panel-body">

        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped  table-bordered table-hover table-responsive" id="dataTables">
                    <thead>
                        <tr>
                                    <th>Document ID</th>
                                    <th>Cost Center</th>
                                     <th>For The Year</th>
                            <th>Ppmp Type</th>
                            <th>Data Monitored</th>
                            <th>Monitored By</th>
                            <th>Action (s)</th>
                        </tr>
                    </thead>
                    <tbody>
                                {% for Doc_Monitoring in ppmp %}
                        <tr>
                                    <td>{{ Doc_Monitoring.PpmpID.id }}</td>
                                    <td>{{ Doc_Monitoring.PpmpID.PpmpCreatedBy.section.name }} - {{ Doc_Monitoring.PpmpID.PpmpCreatedBy.section.department.name }}</td>
                                    <td>{{ Doc_Monitoring.PpmpID.ForTheYear }}</td>
                            <td>{{ Doc_Monitoring.PpmpID.PpmpType }}</td>
                            <td>{{ Doc_Monitoring.modified }}</td>
                            <td>{{ Doc_Monitoring.MonitoredBy.account.designation.name }} ( {{ Doc_Monitoring.MonitoredBy.section.name }} - {{ Doc_Monitoring.MonitoredBy.section.department.name }} )</td>
                            
                            <td style="width:10%">

                                    <div class="btn-group">
                                    <button class="btn btn-link btn-xs" data-toggle="dropdown" aria-expanded="false" type="button"><i class=" fa fa-cog"></i></button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li role="presentation"><a href="{% url 'supportOffice:viewDocument' Doc_Monitoring.id %}"><i class=" fa fa-eye"></i> View Document Details</a></li>
                                        <li role="presentation"><a href="#" data-target="#myModal5"  data-toggle="modal"><i class=" fa  fa-arrow-right"></i> Record Out</a></li>   
                                    </ul>
                            </div>


                            </td>


                           
                        </tr>
                               {% endfor %}
                    </tbody>
                </table>
              </br>             
            </div>
        </div>

      </div>
    </div>

{% endblock %}
{% block Doc_Monitoring %}
 <div class="modal fade" role="dialog" id ="myModal5" tabindex="-1">
       <div class="modal-dialog modal-default" role="document">
            <div class="modal-content">
   
   
        </div>
  </div>
</div>
{% endblock %}
