{%extends 'supportOffice/base.html' %}
{% block header %}
<div class="col-lg-12">
        <h1 class="page-header">PPMP Details</h1>
        
    </div>
{% endblock %}
{% block content %}
<div class="col-lg-12">
    <div class="panel panel-default">
         <div class="panel-heading">
                               Add PPMP Details
                            </div>
    	<div class="panel-body">
			<form id="addPPMPDetails">
				
				<div>

           <input class="form-control" name="ppmpID" value="{{ ppmp.id }}" id="id" required="required" type="hidden">
            
        </div>
        <div class="col-md-4">
            <label>Unit Price </label>
            <input class="form-control" name="ppmpDetPrice" id="ppmpDetPrice" required="required" type="number" placeholder="Unit Price">
        </div>
        <div class="col-md-4">
            <label>Quantity </label>
             <input class="form-control" name="ppmpDetQty" id="ppmpDetQty" required="required" type="number" placeholder="Quantity">
        </div>
        <div class="col-md-4">
            <label>Total </label>
             <input class="form-control" name="ppmpEsTotal" id="ppmpEsTotal" required="required" type="number" placeholder="Total">
        </div>
       
        <div class="col-md-4">
            <label>Schedule </label>
            <input class="form-control" type="text" name="ppmpDetSched" id="ppmpDetSched" placeholder="Schedule">
        </div>

        <div class="col-md-4">
            <label>Item </label>
            <select class="form-control" name="ppmpDetItem" id="ppmpDetItem" required="required">
               {% for Item in item %}
                <option value="{{ Item.id }}">{{ Item.Name }}</option>
               {% endfor %}
            </select>
        </div>
				
        <div class="col-md-4 col-md-offset-9">
            <br>
            <button class="btn btn-primary "  id="createButton" type="button"><i class="fa fa-save"></i> Add Item</button>
            <button class="btn btn-danger "  type="button"><i class="fa fa-ban"></i> Cancel</button>
             <br>
        </div>
				
			</form>
            <script type="text/javascript">

              $(document).on('change', function(e){

                var price = $('#ppmpDetPrice').val();
                var qty = $('#ppmpDetQty').val();

                var total = price * qty;
                $('#ppmpEsTotal').val(total);


              });

              $(document).ready(function(){ 
                $("#createButton").click(function(){
                  $ppmpID = $('#ppmpID').val();
                  $ppmpDetPrice = $('#ppmpDetPrice').val();
                  $ppmpDetQty = $('#ppmpDetQty').val();
                  $ppmpEsTotal = $('#ppmpEsTotal').val();
                  $ppmpDetSched = $('#ppmpDetSched').val();
                  $ppmpDetItem = $('#ppmpDetItem').val();

                if($ppmpDetPrice == "" || $ppmpDetQty == "" || $ppmpDetItem == ""){
                    alert("Please complete the required field");
                    /* $("p").css("color", "red");
                     $("p").show();*/
                     

                }else{
                  $.ajax({
                        type: "GET",
                        data: $("#addPPMPDetails").serialize(),
                        url:'{% url 'supportOffice:addPPMPDetails' %}',
                        dataType: 'json',
                        success: function(data)
                        {     
                            var arr = JSON.parse(JSON.stringify(data));
                            //alert(JSON.stringify(arr));
                            alert('succesfully added!');
                        }
                    });
                    
                }     
            }); 
          }); 

                </script>
		</div>
	</div>
</div>


<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
                               PPMP Details List
                            </div>
    	<div class="panel-body">

				<div class="col-md-12">
				    <div class="table-responsive">
				        <table class="table table-striped  table-bordered table-hover table-responsive" id="dataTables">
				            <thead>
				                <tr>
                                    <th style="width:15%">Document ID</th>
                                    <th>Item</th>
                                     <th>Unit Price</th>
				                    <th>Quantity</th>
				                    <th>Schedule</th>
                                    <th>Total</th>
				                    <th>Action (s)</th>
				                </tr>
				            </thead>
				            <tbody>
                                {% for PPMP_Details in ppmpDet %}
				                <tr>
                                    <td>{{ PPMP_Details.PpmpID.id }}</td>
                                    <td>{{ PPMP_Details.ItemID.Name }}</td>
                                    <td>{{ PPMP_Details.UnitPrice }}</td>
				                    <td>{{ PPMP_Details.PpmpQuantity }}</td>
				                    <td>{{ PPMP_Details.Schedule }}</td>
                                    <td>{{ PPMP_Details.EstimatedTotal }}</td>
				                    
				                    <td style="width:10%">

                                    <div class="btn-group">
                                    <button class="btn btn-link btn-xs" data-toggle="dropdown" aria-expanded="false" type="button"><i class=" fa fa-cog"></i></button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li role="presentation"><a href="#"><i class=" fa fa-eye"></i> Edit Details</a></li>
                                        <li role="presentation"><a href="#" data-target="#myModal5"  data-toggle="modal"><i class=" fa  fa-plus-square-o"></i> View Details</a></li>   
                                    </ul>
                            </div>


				                    </td>


                           
				                </tr>
                               {% endfor %}
				            </tbody>
				        </table>
				    	</br>             
				    </div>
				</div>

    	</div>
    </div>
    <div class="col-md-4 col-md-offset-10">
        <br>
        <button class="btn btn-primary"  id="submitPPMP" type="button"><i class="fa fa-save"></i> SUBMIT PPMP</button>
         <br>
         <br>
    </div>

{% endblock %}
{% block PPMP_Details %}
 <div class="modal fade" role="dialog" id ="myModal5" tabindex="-1">
       <div class="modal-dialog modal-default" role="document">
            <div class="modal-content">
   
   
        </div>
  </div>
</div>
{% endblock %}
