{% extends 'supportOffice/base.html' %} 
{% block header%}
<div class="col-lg-12">
    <h1 class="page-header">PPMP List</h1>
</div>
{% endblock %}

{% block content %}

<div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
                               Created PPMP
                            </div>
    <div class="panel-body">
<table class="table table-striped table-hover table-bordered table-responsive" id="dataTables">
<thead>
  <tr>
    <th>Document ID</th>
    <th>PPMP Code</th>
    <th>For The Year</th>
     <th>PPMP Type</th>
   
    <th style="width:10%">Actions (s)</th>
  </tr>
</thead>
<tbody>
  
    {% for PPMP in ppmpList %}
    <tr>
      <td>{{ PPMP.id }}</td>
      <td>{{ PPMP.PpmpCode }}</td>
      <td>{{ PPMP.ForTheYear }}</td>
       <td>{{ PPMP.PpmpType }}</td>
      <td>
        <div class="btn-group">
                <button class="btn btn-link btn-xs" data-toggle="dropdown" aria-expanded="false" type="button"><i class=" fa fa-cog"></i></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li role="presentation"><a href="{% url 'supportOffice:ppmpDetailsAdd' PPMP.id %}"><i class=" fa  fa-plus-square-o"></i> Add PPMP Details</a></li>
                </ul>
        </div>
      </td>

    </tr>
                                          
    {% endfor %}
  
</tbody>
</table>
</div>
</div>
</div>



{% endblock %}