{% extends 'supportOffice/base.html' %} 
{% block header%}
<div class="col-lg-12">
    <h1 class="page-header">Generate PPMP</h1>
</div>
{% endblock %}

{% block content %}

<div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
                               List of Final Created PPMP (s)
                            </div>
    <div class="panel-body">
      {% for PPMP in ppmpList %}
      <li>
        <a href="{% url 'supportOffice:generatedPPMP' PPMP.id %}"><i class="fa fa-plus"></i> {{ PPMP.PpmpType }} {{ PPMP.PpmpCode }}, {{ PPMP.PpmpCreatedBy.section.name }} - {{ PPMP.PpmpCreatedBy.section.department.name }} For the Year( {{ PPMP.ForTheYear }} )</a>
      </li>
      {% endfor %}

</div>
</div>
</div>



{% endblock %}