{%extends 'supportOffice/base.html' %}
{% block header %}
<div class="col-lg-12">
        <h1 class="page-header">Generated PPMP</h1>
        
    </div>
{% endblock %}
{% block content %}
<div>
    <h3>ID: {{ ppmp.id }}</h3>
                 <h3>Cost Center: {{ ppmp.PpmpCreatedBy.section.name }} - {{ ppmp.PpmpCreatedBy.section.department.name }} For the Year( {{ ppmp.ForTheYear }} )</h3>
</div>
<div class="col-md-12 col-md-offset-9">
  <button href="#modalLoad1" data-toggle="modal" class="btn btn-primary"> <i class="fa fa-arrow-down"></i> Record In</button>
  <button  href="#modalLoad"  data-toggle="modal" class="btn btn-warning"><i class="fa fa-arrow-up"></i> <b>Record Out</b></button>
  <br>
</div>
<br>

<div class="col-lg-12">
  <br>
    <div class="panel panel-default">
        <div class="panel-heading">
                               Documents
                            </div>
      <div class="panel-body">

        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped  table-bordered table-hover table-responsive" id="dataTables">
                    <thead>
                        <tr>
                                    <th style="width:15%">Document ID</th>
                                    <th>Category</th>
                                    <th>Item</th>
                                     <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Schedule</th>
                                    <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                                {% for PPMP_Details in ppmpList %}
                        <tr>
                                    <td>{{ PPMP_Details.PpmpID.id }}</td>
                                    <td>{{ PPMP_Details.ItemID.CategoryID.Description }}</td>
                                    <td>{{ PPMP_Details.ItemID.Name }}</td>
                                    <td>{{ PPMP_Details.UnitPrice }}</td>
                            <td>{{ PPMP_Details.PpmpQuantity }}</td>
                            <td>{{ PPMP_Details.Schedule }}</td>
                                    <td>{{ PPMP_Details.EstimatedTotal }}</td>
                           
                        </tr>
                               {% endfor %}
                    </tbody>
                </table>
              </br>             
            </div>
        </div>

      </div>
    </div>

<div class="modal fade" id="modalLoad" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
      <div class="modal-content ">
          <form id="load">
              <div class="modal-header">
                  <h2 class="modal-title"><b>Record Out</b></h2>
              </div>
              
              <div class="modal-body">
                <div class="container-fluid">
                  <div class='col-md-6'>
                      <div class='form-group fg-line'>
                        <label>Document No.</label>
                        <input class="form-control" type="text" name="ppmp_id" id="ppmp_id" value="{{ ppmp.id }}" disabled>
                      </div>
                  </div>
                  <div class='col-md-6'>
                      <input type="hidden" name="document_in_out" id="document_in_out" value="OUT">
                  </div>
                  <div class='col-md-6'>
                      <input type="hidden" name="document_status" id="document_status" value="REJECTED">
                  </div>
                  <div class='col-md-6'>
                      <div class='form-group fg-line'>
                        <label>Document's Remarks</label>
                          <input class="form-control" type="text" name="document_remarks" id="document_remarks" placeholder="Remarks">
                      </div>
                  </div>
                  <div class='col-md-6'>
                      <div class='form-group fg-line'>
                        <input type="hidden" name="monitored_by" id="monitored_by" value="1">
                      </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <input type="hidden" name="ppmp_id" id="ppmp_id" value="{{ ppmp.id }}">
                  <button type="submit" id="insert1" class="btn btn-warning">RECORD OUT</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL
                  </button>
              </div>
          </form>
          <script>
            $(document).ready(function(){
              $("#load").submit(function(){
                $.ajax({
                  type: "GET",
                  data: $("#load").serialize(),
                  url: '{% url 'supportOffice:monitorDoc' %}',
                  dataType: 'json',
                  success: function(data)
                  {
                    var arr = JSON.parse(JSON.stringify(data));
                    alert(JSON.stringify(arr));
                    alert('Succesfully added!');
                  },
                  error: function()
                  {
                    alert('The document has been record out.');
                    window.location="{% url 'supportOffice:listOfDocuments' %}";
                  }
                });
              });
            });
          </script>
      </div>
  </div>
</div>
<div class="modal fade" id="modalLoad1" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
      <div class="modal-content ">
          <form id="load1">
              <div class="modal-header">
                  <h2 class="modal-title"><b>Record In</b></h2>
              </div>
              
              <div class="modal-body">
                <div class="container-fluid">
                  <div class='col-md-6'>
                      <div class='form-group fg-line'>
                        <label>Document No.</label>
                        <input class="form-control" type="text" name="ppmp_id1" id="ppmp_id1" value="{{ ppmp.id }}" disabled>
                      </div>
                  </div>
                  <div class='col-md-6'>
                    <div class='form-group fg-line'>
                        <label>Type</label>
                      <input class="form-control" type="text" name="document_in_out1" id="document_in_out1" value="IN" disabled>
                    </div>
                  </div>
                  <div class='col-md-6'>
                    <div class='form-group fg-line'>
                        <label>Document Status</label>
                      <input class="form-control" type="text" name="document_status1" id="document_status1" value="PENDING" disabled>
                    </div>
                  </div>
                  <div class='col-md-6'>
                      <div class='form-group fg-line'>
                        <label>Document's Remarks</label>
                          <input class="form-control" type="text" name="document_remarks1" id="document_remarks1" placeholder="Remarks">
                      </div>
                  </div>
                  <div class='col-md-6'>
                      <div class='form-group fg-line'>
                        <label>Monitored By</label>
                        <input class="form-control" type="text" name="monitored_by1" id="monitored_by1" value="1" disabled>
                      </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <input type="hidden" name="ppmp_id" id="ppmp_id" value="{{ ppmp.id }}">
                <input type="hidden" name="document_in_out1" id="document_in_out1" value="IN">
                <input type="hidden" name="document_status1" id="document_status1" value="APPROVED">
                <input type="hidden" name="monitored_by1" id="monitored_by1" value="1">
                  <button type="submit" id="insert" class="btn btn-success">RECORD IN</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL
                  </button>
              </div>
          </form>
          <script>
            $(document).ready(function(){
              $("#load1").submit(function(){
                $.ajax({
                  type: "GET",
                  data: $("#load1").serialize(),
                  url: '{% url 'supportOffice:monitorDocIn' %}',
                  dataType: 'json',
                  success: function(data)
                  {
                    alert('Document has been record in.');
                  },
                  error: function()
                  {
                    alert('The document has been record in.');
                    window.location="{% url 'supportOffice:listOfRecordIn' %}";
                  }
                });
              });
            });
          </script>
      </div>
  </div>
</div>
{% endblock %}
